@model FormImplement.Models.ProductModel

<div class="pagetitle">
    <h1>Product Details</h1>
</div><!-- End Page Title -->


<div >
    <h1>Product Added</h1>
</div><!-- End Page Title -->
