@model FormAdmin.Models.CustomerModel

<section class="section">
    <div class="row">
        <div class="col-lg">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Customer Form</h5>

                    <!-- General Form Elements -->
                    <form asp-action="SaveCustomer" asp-controller="Customer" method="post">
                        <div class="row mb-3">
                            <div class="col-sm-2">
                                <label asp-for="CustomerName" class="col-form-label">Customer Name</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" asp-for="CustomerName" placeholder="Enter Customer Name">
                                <span asp-validation-for="CustomerName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-2">
                                <label asp-for="HomeAddress" class="col-form-label">Home Address</label>
                            </div>
                            <div class="col-sm-10">
                                <textarea class="form-control" asp-for="HomeAddress" placeholder="Enter Home Address"></textarea>
                                <span asp-validation-for="HomeAddress" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-2">
                                <label asp-for="Email" class="col-form-label">Email</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" asp-for="Email" placeholder="Enter Email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-2">
                                <label asp-for="MobileNo" class="col-form-label">Mobile No.</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" asp-for="MobileNo" placeholder="Enter Mobile No.">
                                <span asp-validation-for="MobileNo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-2">
                                <label asp-for="GST_NO" class="col-form-label">GST NO</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" asp-for="GST_NO" placeholder="Enter GST NO">
                                <span asp-validation-for="GST_NO" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-2">
                                <label asp-for="CityName" class="col-form-label">City Name</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" asp-for="CityName" placeholder="Enter City Name">
                                <span asp-validation-for="CityName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-2">
                                <label asp-for="PinCode" class="col-form-label">Pin Code</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" asp-for="PinCode" placeholder="Enter Pin Code">
                                <span asp-validation-for="PinCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-2">
                                <label asp-for="NetAmount" class="col-form-label">Net Amount</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" asp-for="NetAmount" placeholder="Enter Net Amount">
                                <span asp-validation-for="NetAmount" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-2">
                                <label asp-for="UserID" class="col-form-label">User ID</label>
                            </div>
                            <div class="col-sm-10">
                                <select class="form-control" asp-for="UserID" asp-items="@(new SelectList(ViewBag.UserList, "UserID", "UserName"))">
                                    <option value="">Select User</option>
                                </select>
                                <span asp-validation-for="UserID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Submit Button</label>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Submit Form</button>
                            </div>
                        </div>

                    </form><!-- End General Form Elements -->

                </div>
            </div>

        </div>

    </div>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}